<!DOCTYPE html>
<html lang="en" ng-app="GECO_PWA">
<head>
    <span ng-include src="'../template/headers.html'"></span>
    <title>LaboRed |</title>
</head>
<body ng-controller="INDEX_CONTROLLER" >
    <!-- # Barra de navegación superior -->
    <span ng-include onload="loadUpperbar()" src="'../template/upperbar.html'"></span>
    <!-- # Barra de navegación superior -->

    <!-- # Contenido de la página -->
    <div class="page-container">
        <!-- # Sidebar -->
        <span ng-include src="'../template/sidebar.html'"></span>
        <!-- # Sidebar -->
        <!-- # Contenido -->
        <div class="content-page p-3 py-3">
            <span ng-if="rootConfig.page === 0 && rootConfig.user.role === 'Cliente'" ng-include src="'./listServices.html'"></span>
            <span ng-if="rootConfig.page === 1 && rootConfig.user.role === 'Cliente'" ng-include src="'./myServices.html'"></span>
            <span ng-if="rootConfig.page === 2 && rootConfig.user.role === 'Cliente'" ng-include src="'./profile.html'"></span>
            <span ng-if="rootConfig.page === 0 && rootConfig.user.role === 'Proveedor'" ng-include src="'../proveedor/servicios.html'"></span>
            <span ng-if="rootConfig.page === 1 && rootConfig.user.role === 'Proveedor'" ng-include src="'../proveedor/solicitados.html'"></span>
            <span ng-if="rootConfig.page === 2 && rootConfig.user.role === 'Proveedor'" ng-include src="'./profile.html'"></span>
            <span></span>
        </div>
        <!-- # Contenido -->


        <!-- # Modal de configuración del sitio -->
    </div>
    <!-- # Contenido de la página -->
    <script src="../../assets/js/sweetalert2.all.min.js"></script>
    <script src="../../assets/js/toastify-js.js"></script>
    <script src="../../assets/js/jquery-3.7.1.min.js"></script>
    <script src="../../assets/js/angular.min.js"></script>
    <script src="../../assets/js/app.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/controllers/index.controller.js"></script>
    <script src="../../assets/js/controllers/oferta.controller.js"></script>
    <script src="../../assets/js/controllers/userServices.controller.js"></script>
    <script src="../../assets/js/controllers/provider/servicios_ofertados.controller.js"></script>
    <script src="../../assets/js/controllers/provider/servicios_solicitados.controller.js"></script>
    <script src="../../assets/js/controllers/profile.controller.js"></script>
</body>
</html>