<h3 class="fw-normal" id="xd">Oferta de servicios</h3>
<div ng-controller="ofertaController">
    <div class="row" >
        <div class="col-lg-4 col-md-6 col-12 col-sm-12" ng-repeat="oferta in ofertas">
            <div class="card my-3 border-0 shadow">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-lg-1">
                            <i class="bi bi-person-badge-fill"></i>
                        </div>
                        <div class="col-lg-8 d-flex justify-content-center">
                            <p class=" fw-bolder  ms-1" ng-bind="oferta.name"></p>
                        </div>
                        <div class="col-lg-3 d-flex align-items-end justify-content-end ">
                            <span class="badge text-bg-success" ng-if="oferta.status=='Verificado'">Verificado</span>
                            <span class="badge text-bg-warning" ng-if="oferta.status=='Por verificar'">Por verificar</span>
                            <span class="badge text-bg-secondary" ng-if="oferta.status=='Sin verificar'">Sin verificar</span>
                        </div>
                    </div>
                    
                </div>
                <div class="card-body p-2 rounded-corner">
                    <div class="row">
                        <div class="col-12 col-lg-2 d-flex justify-content-center align-items-center">
                              <img src="{{oferta.img}}" alt="XD" class=" img-fluid rounded">
                        </div>
                        <div class="col-12 col-lg-10 d-flex align-content-center align-items-center ">
                                <p class="fw-bold fs-3 me-1 " ng-bind="oferta.price"></p>
                                <p ng-bind="oferta.slogan" class="fw-light"></p>  
                        </div>
                        <div class="col-lg-12 col-12 m-2">
                            <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="{{oferta.rating}}" aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar progress-bar-striped bg-success text-white" ng-bind="oferta.rating" style="width:{{oferta.rating}}%" ></div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-dark " ng-click="adicionInfo(oferta)">Más información</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <!-- #Modales -->
    <div class="modal fade" id="offerDetails" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex flex-row align-items-center justify-content-evenly">
                        <span class="fs-3">Brindador: </span>
                        <span class="fs-6 ms-2 fw-lighter" ng-bind="ofertaSel.offer"></span>
                        <span class="badge rounded-pill " ng-class="{'text-bg-success': ofertaSel.status == 'Verificado',
                        'text-bg-warning': ofertaSel.status =='Por verificar',
                        'text-bg-secondary': ofertaSel.status =='Sin verificar'}"
                        ng-bind="ofertaSel.status"></span>
                    </div>
                    <hr class="mb-2">
                    <div class="row">
                        <div class="col-12">
                            <p class=" fw-bolder fs-4 text-center" ng-bind="ofertaSel.name"></p>
                        </div>
                        <div class="col-8 mt-3">
                            <h3 class="fs-4">Descripción: </h3>
                            <p class="fw-normal fs-6 " ng-bind="ofertaSel.description"></p>
                        </div>
                        <div class="col-4 mt-3">
                            <h3 class="fs-4">Telefóno: </h3>
                            <p class="fw-normal fs-6 " ng-bind="ofertaSel.offerPhone"></p>
                        </div>
                        <div class="col-12 text-center">
                            <h3 class="fs-4">Horario:</h3>
                            <p class="fw-normal fs-6 " ng-bind="ofertaSel.schedule"></p>
                        </div>
                        <div class="col-12  d-flex justify-content-end">
                                <button class="btn btn-outline-secondary mt-3 py-2 me-2" type="button" data-bs-dismiss="modal">Cerrar</button>
                                <button class="btn btn-outline-success mt-3 py-2" type="button" ng-click="contratar()">Contratar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="offerContract" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="d-flex flex-row align-items-center justify-content-evenly">
                        <span class="fs-3">Brindador: </span>
                        <span class="fs-6 ms-2 fw-lighter" ng-bind="ofertaSel.offer"></span>
                        <span class="badge rounded-pill " ng-class="{'text-bg-success': ofertaSel.status == 'Verificado',
                        'text-bg-warning': ofertaSel.status =='Por verificar',
                        'text-bg-secondary': ofertaSel.status =='Sin verificar'}"
                        ng-bind="ofertaSel.status"></span>
                    </div>
                    <hr class="mb-2">
                    <div class="row">
                        <div class="col-12 col-lg-12">
                            <p class=" fw-bolder fs-4 text-center" ng-bind="ofertaSel.name"></p>
                        </div>
                        <div class="col-12 col-lg-12 mt-3 text-center">
                            <h3 class="fs-4">Descripción: </h3>
                            <textarea class="form-control border border-secondary" ng-model="ofertaSel.descriptionUs"></textarea>
                        </div>
                        <div class="col-12 col-lg-12 mt-3 text-center">
                            <h3 class="fs-4">Horario: </h3>
                            <input type="time" class="form-control border border-secondary" ng-model="ofertaSel.scheduleUs" ">
                        </div>
                       
                        <div class="col-12  d-flex justify-content-end">
                                <button class="btn btn-outline-secondary mt-3 py-2 me-2" type="button" data-bs-dismiss="modal">Cerrar</button>
                                <button class="btn btn-outline-success mt-3 py-2" type="button" ng-click="regContrato(ofertaSel)">Aceptar</button>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   

