<h3 class="fw-normal" id="xd">Servicios contratados</h3>
<!-- <div class="my-3 d-flex flex-row">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar por identificador">
        <button class="btn btn-primary rounded-end" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
        <button class="btn btn-success ms-2 px-2 py-0 rounded-start"><i class="fs-4 bi bi-plus-lg"></i></button>
    </div>
</div> -->
<div ng-controller="userServiceController">
<!-- # Contenido App WEB / Responsive -->
<div class="my-3">
    <div class="row g-4">
        <div class="col-12 col-md-6 col-lg-4 col-sm-6" ng-repeat="service in services">
            <div class="card">
                <div class="card-header">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-3 col-md-3 col-3">
                            <p class=" fw-bold">Encargado:</p>
                        </div>
                        <div class="col-lg-5 col-5">
                            <p class="fw-normal" ng-bind="service.offer"></p>
                        </div>
                        <div class="col-3 col-lg-3">
                            <span class="badge fs-6" ng-class="{'text-bg-success':service.status == 'Atendido' ,
                            'text-bg-warning': service.status=='En espera'}" ng-bind="service.status"></span>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-12 d-flex  justify-content-center align-items-center">
                                <h3 class="fs-6 fw-semibold " ng-bind="service.name"></h3>
                                <p class="fw-bold fs-5 ms-2" ng-bind="service.price"></p>
                        </div>
                        <div class="col-12 col-lg-4 mt-3 text-center">
                            <h3 class="fw-semibold fs-6">Horario</h3>
                            <p class="fs-6 fw-normal" ng-bind="service.schedule"></p>
                        </div>
                        <div class="col-lg-8 col-12 mt-3">
                            <h3 class="fs-6 fw-semibold">Descripción:</h3>
                            <p class="fs-6 fw-normal" ng-bind="service.description"></p>
                        </div>
                        <div ng-if="service.status == 'Atendido' && service.valoration == 0" class="row">
                            <div class="col-lg-12 col-12 text-center">
                                <label for class="form-label fw-bold ">Valoración: {{user.score}}</label>
                                <input type="range" class="form-range" min="0" max="100" step="0.1" ng-value="0" id="customRange3" ng-model="user.score">
                            </div>
                            <div class="col-lg-12 col-12 text-center">
                                <label  class="form-label fw-bold ">Comentarios</label>
                                <textarea class="form-control border border-secondary" ng-model="user.comment" placeholder="Mejora el servicio" ></textarea>
                            </div>
                            <div class="col-lg-12 col-12 text-end mt-2">
                                <button type="button" class="btn btn-outline-primary" ng-click="valorar(user,service)">Valorar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     
    </div>
</div>
</div>
</div>
<!-- # Contenido App WEB / Responsive -->
<div class="my-5 hid-web text-white">.</div>
</div>
