<h3 class="fw-normal" id="xd">Rubros de revisión</h3>
<div class="my-3 d-flex flex-row">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar por nombre">
        <button class="btn btn-primary rounded-end" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
        <button class="btn btn-success ms-2 px-2 py-0 rounded-start"><i class="fs-4 bi bi-plus-lg"></i></button>
    </div>
</div>
<!-- # Contenido App WEB / Responsive -->
<div class="my-3">
    <div class="row g-4">
        <div class="col-12 col-lg-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex flex-row align-items-start">
                        <span class="fs-4 pe-4">Baños</span>
                        <div class="ms-auto d-flex flex-column justify-content-center">
                            <span>Estado</span>
                            <div class="form-check form-switch ms-2">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-primary py-1 px-2"><i class="fw-bold bi bi-pencil-fill"></i></button>
                        <button class="btn btn-primary py-1 px-2"><i class="fw-bold bi bi-info-circle"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- # Contenido App WEB / Responsive -->
<div class="my-5 hid-web text-white">.</div>